# Configuración del Servidor
PORT=8000

# Credenciales de Base de Datos para Docker y Backend
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contrasena_segura_aqui
POSTGRES_DB=app_db

MONGO_INITDB_ROOT_USERNAME=tu_usuario_aqui
MONGO_INITDB_ROOT_PASSWORD=tu_contrasena_segura_aqui

# Credenciales de Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=contrasena_consola_aqui
CLIENT_SECRET=pega_aqui_el_client_secret_de_tu_realm
